@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lexend+Deca&display=swap');

* {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
    position: relative;
    margin: auto
}

.card {
    display: flex;
    width: 1000px;
    height: 500px;
    background-color: hsl(244, 38%, 16%);
    position: absolute;
    top: 30%;
    left: 30%;

}

.left{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    width: 500px ;
    height: 100%;
    background-color: hsl(244, 38%, 16%);
}
.header{
    margin-right: 10%;
    margin-left: 10%;
}

.title {
    font-family: 'Inter', sans-serif;
    color: white;
}

#insights {
    color: hsl(277, 64%, 61%);
}   
.paragraph {
    margin-right: 10%;
    margin-left: 10%;
}
.info {
    color: rgb(165, 165, 165);
    font-family: 'Lexend Deca', sans-serif;
}

.stat {
    color: white;
    font-family: 'Lexend Deca', sans-serif;
}
.card-footer {
    display: flex;
    justify-content: space-evenly;
}

.right{
    width: 500px;
    height: 100%;
    background: url("./images/image-header-desktop.jpg") ;
    background-color: hsl(277, 64%, 61%);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    opacity: 0.9;
    position: relative;
    
}

.layer {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }